*{
  font-family: 'Times New Roman', Times, serif;
}
.app-header{
  border-bottom: 1px solid black;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-footer{
  width: 100%;
  background: lightgray;
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
}

.app-title{
  font-weight: bold;
}

.menu{
  width: 50%;
  height: 100%;
  z-index: 50%;
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  padding: 3vh;
}

.menu-mask{
  width: 100%;
  height: 100%;
  z-index: 50%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

.menu-title{
  font-weight: bold;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

#home-link{
  color: blue;
  text-decoration: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;  
}

#about-link{
  color: blue;
  text-decoration: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;  
}

.switch-container{
  padding-top: 0.75rem;
}